.admin-card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 18vh;

    border-radius: 10px;
    color: white;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.398);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.398);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.398);
}

.admin-card__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.543);
}

.admin-card__info {
    display: flex;
    flex-direction: column;

    text-align: right;
}

.admin-card__info h1 {
    width: 100%;

    font-weight: normal;
    text-align: right;
    font-size: 3.5rem;
}

.admin-card__info p {
    width: 100%;

    text-align: right;
    font-size: 1.5rem;
    opacity: 0.7;
}