.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px;

  background-color: var(--color-primary);
  font-size: 20px;
}

.navbar__logo {
  width: 20%;
}

.navbar__logo img {
  height: 70px;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.navbar__menu-list-item {
  display: flex;
  justify-content: center;
  
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navbar__menu-item {
  margin: 0 60px;
}

.navbar__menu-item a {
  position: relative;
  padding-bottom: 2px; 
  
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.navbar__menu-item a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;

  width: 0;
  height: 1px;

  background-color: white;
  transition: width 0.6s ease;
}

.navbar__menu-item:hover a::after {
  width: 100%;
}

.navbar__menu-item--mobile {
  display: none;
}

.navbar__right-section {
  display: flex;
  align-items: center;
  width: 20%;
}

.navbar__login-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 75px;

  background-color: var(--color-bg);
  border-radius: 100%;
  border: none;
  cursor: pointer;

  font-size: 40px;
}

.navbar__login-button svg {
  color: var(--color-black);
}

.navbar__hamburger {
  display: none;

  color: var(--color-white);
  font-size: 30px;
}

.navbar__hamburger,
.navbar__menu-close {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navbar__menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: 20px 0;

    background-color: var(--color-primary);
    text-align: center;
  
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }

  .navbar__menu-close {
    position: absolute;
    top: 35px;
    right: 15px;

    font-size: 40px;
    color: var(--color-white);
  }

  .navbar__menu--open {
    display: flex;

    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 2;
  }

  .navbar__menu-list-item {
    flex-direction: column;
    width: 60%;
    font-size: 1.5rem;
  }

  .navbar__menu-item {
    width: 100%;
    margin: 15px 0;
    padding-bottom: 15px;
  }

  .navbar__menu-item--mobile {
    display: block;
  }

  .navbar__hamburger {
    display: block;
  }

  .navbar__right-section {
    display: none;
  }

  .navbar__logo, .navbar__hamburger {
    margin: 0;
  }
}